<div class="card">
    <div class="card-body">
        <h2>Create</h2><br>
        <form action="/create" method="POST">
            <div class="mb-3">
                <label class="form-label">Nome:</label>
                <input class="form-control" type="text" name="nome">
            </div>
            <div class="mb-3">
                <label class="form-label">Email:</label>
                <input class="form-control" type="text" name="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Nascimento:</label>
                <input class="form-control" type="text" name="nascimento">
            </div>
            <div class="mb-3">
                <label class="form-label">Cidade:</label>
                <input class="form-control" type="text" name="cidade">
            </div>
            <div class="mb-3">
                <label class="form-label">Estado:</label>
                <input class="form-control" type="text" name="estado">
            </div>
            <div class="mb-3">
                <label class="form-label">País:</label>
                <input class="form-control" type="text" name="pais">
            </div>
            <div class="mb-3">
                <label class="form-label">Telefone:</label>
                <input class="form-control" type="text" name="telefone">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>

    </div>
</div>